/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank
$masthead-link-color: #1abc9c !default;
$masthead-link-color-hover: $navicon-link-color-hover !default;

.site-title {
    background-color: #33302b
}

//Why aren't my custom colours working?