/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank
$masthead-link-color: $teal !default;
$masthead-link-color-hover: $navicon-link-color-hover !default;

.site-title {
    background-color: #33302b
}