/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank
$masthead-link-color-hover: #bdbdbd !default;


//Why aren't my custom colours working?