/* ==========================================================================
   BASE ELEMENTS
   ========================================================================== */

html {
  /* sticky footer fix */
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: $text-color;
  font-family: $global-font-family;
  line-height: 1.5;

  &.overflow--hidden {
    /* when primary navigation is visible, the content in the background won't scroll */
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2em 0 0.5em;
  line-height: 1.2;
  font-family: $header-font-family;
  font-weight: bold;
  background-color: $background-color;  // Maybe change this to something cool later
}

h1 {
  margin-top: 0;
  font-size: $type-size-3;
}

h2 {
  font-size: $type-size-4;
}

h3 {
  font-size: $type-size-5;
}

h4 {
  font-size: $type-size-6;
}

h5 {
  font-size: $type-size-6;
}

h6 {
  font-size: $type-size-6;
}

photocaption {
  font-size: $type-size-8;
  font-style: italic;
  margin-bottom: 1.3em;
  display: block;
}

/////////////////////////Cards////////////////////////////////

// .card {
//   background-color:#fff;
//   box-shadow:0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
//   color:#4a4a4a;
//   max-width:100%;
//   position:relative;
//  }
//  .card-header {
//   background-color:transparent;
//   align-items:stretch;
//   box-shadow:0 .125em .25em rgba(10,10,10,.1);
//   display:flex
//  }
//  .card-header-title {
//   align-items:center;
//   color:#363636;
//   display:flex;
//   flex-grow:1;
//   font-weight:700;
//   padding:.75rem 1rem
//  }
//  .card-header-icon,
//  .card-header-title.is-centered {
//   justify-content:center
//  }
//  .card-header-icon {
//   align-items:center;
//   cursor:pointer;
//   display:flex;
//   padding:.75rem 1rem
//  }
//  .card-image {
//   display:block;
//   position:relative
//  }
//  .card-content {
//   padding:1.5rem
//  }
//  .card-content,
//  .card-footer {
//   background-color:transparent
//  }
//  .card-footer {
//   border-top:1px solid #ededed;
//   align-items:stretch;
//   display:flex
//  }
//  .card-footer-item {
//   align-items:center;
//   display:flex;
//   flex-basis:0;
//   flex-grow:1;
//   flex-shrink:0;
//   justify-content:center;
//   padding:.75rem
//  }
//  .card-footer-item:not(:last-child) {
//   border-right:1px solid #ededed
//  }
//  .card .media:not(:last-child) {
//   margin-bottom:1.5rem
//  }

//  .media {
//   align-items:flex-start;
//   display:flex;
//   /*! text-align:left */
//  }
//  .media .content:not(:last-child) {
//   margin-bottom:.75rem
//  }
//  .media .media {
//   border-top:1px solid hsla(0,0%,85.9%,.5);
//   display:flex;
//   padding-top:.75rem
//  }
//  .media .media .content:not(:last-child),
//  .media .media .control:not(:last-child) {
//   margin-bottom:.5rem
//  }
//  .media .media .media {
//   padding-top:.5rem
//  }
//  .media .media .media+.media {
//   margin-top:.5rem
//  }
//  .media+.media {
//   border-top:1px solid hsla(0,0%,85.9%,.5);
//   margin-top:1rem;
//   padding-top:1rem
//  }
//  .media.is-large+.media {
//   margin-top:1.5rem;
//   padding-top:1.5rem
//  }
//  .media-left,
//  .media-right {
//   flex-basis:auto;
//   flex-grow:0;
//   flex-shrink:0
//  }
//  .media-left {
//   margin-right:1rem
//  }
//  .media-right {
//   margin-left:1rem
//  }
//  .media-content {
//   flex-basis:auto;
//   flex-grow:1;
//   flex-shrink:1;
//   text-align:left
//  }
//  @media screen and (max-width:768px) {
//   .media-content {
//    overflow-x:auto
//   }
//  }

// .image.is-48x48 {
//   height: 48px;
//   width: 48px;
// }

// .tags {
//   align-items: center;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: flex-start;
// }

// .tags:last-child {
//   margin-bottom: -.5rem;
// }

// .tags .tag:not(:last-child) {
//   margin-right: .5rem;
// }

// .tag:not(body) {
//   align-items: center;
//   background-color: #f5f5f5;
//   border-radius: 4px;
//   color: #4a4a4a;
//   display: inline-flex;
//   font-size: .75rem;
//   height: 2em;
//   justify-content: center;
//   line-height: 1.5;
//   padding-left: .75em;
//   padding-right: .75em;
//   white-space: nowrap;
// }



//////////////////////////////////////////////



small,
.small {
  font-size: $type-size-6;
}

p {
  margin-bottom: 1.3em;
  font-size: $type-size-6;
}

u,
ins {
  text-decoration: none;
  border-bottom: 1px solid $text-color;
  a {
    color: inherit;
  }
}

del a {
  color: inherit;
}

/* reduce orphans and widows when printing */

p,
pre,
blockquote,
ul,
ol,
dl,
figure,
table,
fieldset {
  orphans: 3;
  widows: 3;
}

/* abbreviations */

abbr[title],
abbr[data-original-title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted $text-color;
}

/* blockquotes */

blockquote {
  margin: 2em 1em 2em 0;
  padding-left: 1em;
  padding-right: 1em;
  font-style: italic;
  border-left: 0.25em solid $primary-color;

  cite {
    font-style: italic;

    &:before {
      content: "\2014";
      padding-right: 5px;
    }
  }
}

/* links */

a {
  &:focus {
    @extend %tab-focus;
  }

  &:visited {
    color: $link-color-visited;
  }

  &:hover {
    color: $link-color-hover;
    outline: 0;
  }
}

/* buttons */

button:focus {
  @extend %tab-focus;
}

/* code */

tt,
code,
kbd,
samp,
pre {
  font-family: $monospace;
}

pre {
  overflow-x: auto; /* add scrollbars to wide code blocks*/
}

p > code,
a > code,
li > code,
figcaption > code,
td > code {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size: 0.8em;
  background: $code-background-color;
  border-radius: $border-radius;

  &:before,
  &:after {
    letter-spacing: -0.2em;
    content: "\00a0"; /* non-breaking space*/
  }
}

/* horizontal rule */

hr {
  display: block;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid $border-color;
}

/* lists */

ul li,
ol li {
  margin-bottom: 0.5em;
}

li ul,
li ol {
  margin-top: 0.5em;
}

/*
   Media and embeds
   ========================================================================== */

/* Figures and images */

figure {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 2em 0;

  img,
  iframe,
  .fluid-width-video-wrapper {
    margin-bottom: 1em;
  }

  img {
    width: 100%;
    border-radius: $border-radius;
    -webkit-transition: $global-transition;
    transition: $global-transition;
  }

  > a {
    display: block;
  }

  &.half {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(50% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
    }
  }

  &.third {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(33.3333% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
    }
  }
}

/* Figure captions */

figcaption {
  margin-bottom: 0.5em;
  color: $muted-text-color;
  font-family: $caption-font-family;
  font-size: $type-size-6;

  a {
    -webkit-transition: $global-transition;
    transition: $global-transition;

    &:hover {
      color: $link-color-hover;
    }
  }
}

/* Fix IE9 SVG bug */

svg:not(:root) {
  overflow: hidden;
}

/*
   Navigation lists
   ========================================================================== */

/**
 * Removes margins, padding, and bullet points from navigation lists
 *
 * Example usage:
 * <nav>
 *    <ul>
 *      <li><a href="#link-1">Link 1</a></li>
 *      <li><a href="#link-2">Link 2</a></li>
 *      <li><a href="#link-3">Link 3</a></li>
 *    </ul>
 *  </nav>
 */

nav {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  /* override white-space for nested lists */
  ul li,
  ol li {
    margin-bottom: 0;
  }

  li ul,
  li ol {
    margin-top: 0;
  }
}

/*
   Global animation transition
   ========================================================================== */

b,
i,
strong,
em,
blockquote,
p,
q,
span,
figure,
img,
h1,
h2,
header,
input,
a,
tr,
td,
form button,
input[type="submit"],
.btn,
.highlight,
.archive__item-teaser {
  -webkit-transition: $global-transition;
  transition: $global-transition;
}
